<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <div class="text-center mt-5">
        You can make a GET and POST reqs using Postman, Insomnia and etc. <br>
        View products going to /products
    </div>
</body>
</html>